<div class="row">     
    <div class="col-md-12">           
        <h2>Cars</h2>           
        <hr /> 
 
          <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Car Id</th>
                        <th>Car Make</th>
                        <th>Car Model</th>
                        <th>Car Year</th>
                        <th>Car Vin</th>
                    </tr>
                </thead>
                <tbody>
                {{#each cars}}
                <tr>
                    <td>{{id}}</td>
                    <td> <a href=" /stores?retailer={{make}}">{{make}}</a> </td>
                    <td>{{model}}</td>
                    <td><a href=" /cars?year={{year}}">{{year}}</a></td>
                    <td><a href="/people?vin={{vin}}">{{vin}}</a> </td>
                </tr>
                {{/each}}
                </tbody>
            </table> 
        </div>  
        {{#unless cars.contact}}  
            <div class="col-md-12 text-center">             
                <strong>{{message}}</strong> 
            </div> 
        {{/unless}} 
 
    </div> 
</div>  