<div class="row">     
    <div class="col-md-12">           
        <h2>Stores</h2>           
        <hr /> 
 <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Store Id</th>
                        <th>Store Name</th>
                        <th>Store Phone</th>
                        <th>Store Address</th>
                    </tr>
                </thead>
                <tbody>
                {{#each stores}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{retailer}} </td>
                    <td>{{phone}}</td>
                    <td>{{address}} {{city}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table> 
        </div>  
        {{#unless store.contact}}  
            <div class="col-md-12 text-center">             
                <strong>{{message}}</strong> 
            </div> 
        {{/unless}}   
    </div> 
</div> 